<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by  doogi</title>
  <link rel="stylesheet" href="stylesheets/create.css">

</head>
<body>
<!-- partial:index.partial.html -->
<form action="blog" method="post">
  <div class="container">
    <h1 class="title">Create Blog</h1>
    <div class="form">
      <div class="name">
        <h4>Name</h4>
        <input name="blogName" maxlength="10">
    
      </div>
      
      <h4>Background Type(coming soon)</h4>
    </div>
    <div class="mood-grid">
        <div class="mood">Calm</div>
        <div class="mood">Happy</div>
        <div class="mood">Sad</div>
        <div class="mood">Angry</div>
        <div class="mood">Peaceful</div>
        <div class="mood">Energetic</div>
        <div class="mood">Dreamy</div>
        <div class="mood">Optimistic</div>
    </div>
    
    <div class="actions">
      <button id="cancel">Cancel</button>
      <button id="create" type="submit">Create</button>
      
    </div>
  </div>
</form>
<!-- partial -->
  
</body>
</html>
